<ion-content class="ion-padding">
  <form [formGroup]="checkoutForm" (ngSubmit)="submitForm()">
  <div class="Shipping-form">
    <h1>Enter Shipping Details</h1>
    <ion-item>
      <ion-label position="floating">Full Name</ion-label>
      <ion-input type="text" formControlName="fullName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Select City</ion-label>
      <ion-select>
        <ion-select-option value="city1">City 1</ion-select-option>
        <ion-select-option value="city2">City 2</ion-select-option>
        <ion-select-option value="city3">City 3</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Street Address</ion-label>
      <ion-input type="text" formControlName="streetAddress"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Postal Code</ion-label>
      <ion-input type="text" formControlName="postalCode"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Phone Number</ion-label>
      <ion-input type="tel" formControlName="phoneNumber"></ion-input>
    </ion-item>

    <h1>Payment Method</h1>

    <ion-item lines="none" style="margin-top: 10px;">
      <ion-radio-group   formControlName="paymentMethod" style="display: flex; flex-direction: column;">
        <ion-radio  value="cash" aria-label="Cash payment">
          <ion-icon name="cash-outline" color="success" size="large"></ion-icon>
          <ion-label>Cash</ion-label>
        </ion-radio>

        <ion-radio  value="creditCard" aria-label="Credit Card payment" style="margin-top: 10px;">
          <ion-icon name="card-outline" color="warning" size="large"></ion-icon>
          <ion-label>Credit Card</ion-label>
        </ion-radio>
      </ion-radio-group>
    </ion-item>

    <ion-item *ngIf="checkoutForm.get('paymentMethod')?.value === 'creditCard'">
      <ion-label position="floating">Card Holder Name</ion-label>
      <ion-input type="text" formControlName="cardHolderName"></ion-input>
    </ion-item>

    <ion-item *ngIf="checkoutForm.get('paymentMethod')?.value === 'creditCard'">
      <ion-label position="floating">Card Number</ion-label>
      <ion-input type="number" formControlName="cardNumber"></ion-input>
    </ion-item>

    <div style="display: flex; justify-content: space-between;" *ngIf="checkoutForm.get('paymentMethod')?.value === 'creditCard'">

      <ion-item>
        <ion-label position="floating" style="font-weight: bold; color: black;">Expiry Date</ion-label>
        <ion-input type="date" formControlName="expiryDate"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating" style="font-weight: bold; color: black;">CVV</ion-label>
        <ion-input type="number" style="width: 30%;" formControlName="cvv"></ion-input>
      </ion-item>
    </div>
  </div>
  <button type="submit" class="ion-button checkout-button" expand="full">Place Order</button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="goToHomePage()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="goToAccountPage()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
