.Shipping-form {
  position: relative;
  background-color: white;
  padding: 10px;
}

h1 {
  margin-left: 0;
  font-weight: bold;
  font-size: 16px;
  font-family: 'Poppins';
  line-height: 1.5;
}

ion-item {
  --color: #696877;
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
}

.ion-button {
  width: 100%;
  height: 40px;
  font-size: 16px;
  border-radius: 26px;
  margin-top: 10px;
  color: white;
  background-color: #82C408;
}

ion-radio-group {
  width: 100%;
}

ion-radio {
  font-weight: bold;
  font-family: 'DM Sans';
  font-size: 15px;
  color: black;
  margin-top: 5px;
}

.checkout-button {
  margin-top: 10px;
}

ion-radio::part(container) {
  width: 30px;
  height: 30px;

  border-radius: 15px;
  border: 2px solid #ddd;
}

ion-radio::part(mark) {
  background: none;
  transition: none;
  transform: none;
  border-radius: 0;
}

ion-radio.radio-checked::part(container) {
  background: #82C408;
  border-color: transparent;
}

ion-radio.radio-checked::part(mark) {
  width: 6px;
  height: 10px;

  border-width: 0px 2px 2px 0px;
  border-style: solid;
  border-color: #fff;

  transform: rotate(45deg);
}

ion-radio {
  font-weight: bold;
  font-family: 'DM Sans';
  font-size: 15px;
  color: black;
}