
<ion-content class="ion-padding">
  <div class="login-form">
  <h1 >Add Seller </h1>
    <ion-item>
      <ion-label position="floating" >Name</ion-label>
      <ion-input aria-label="Name" type="Name" [(ngModel)]="name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input aria-label="email" type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    
    <button class="ion-button" expand="full" (click)="addSeller()" > Add </button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs >
      <ion-tab-bar >
        <ion-tab-button  (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button  (click)="goToHomePage()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button  (click)="goToAccountPage()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
