
<ion-content >
  <div>
    <img src="assets/images/sign_in.jpg"  class="background-image">
  </div>
  <div class="login-form">
    <h1 >Welcome Back!</h1>
    <p class="p1">Sign in to your account</p>
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input aria-label="Email" type="email"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input aria-label="password" type="password"></ion-input>
    </ion-item>
    <button class="ion-button" expand="full" >Login</button>
    <p class="p2">Don't have an account? Sign up</p>
  </div>
</ion-content>
