<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" class="custom-logout-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <div class="centered">
    <ion-img class="profileImage" [src]="getBase64Image(user.image)"></ion-img>
    <ion-label class="user-name">{{ user.name }}</ion-label>
    <ion-label class="user-email">{{ user.email }}</ion-label>
    <button class="custom-button" expand="full" (click)="GoEditProfilePage()">edit profile</button>
  </div>


  <p>My Orders</p>
  <ion-card class="purchase-card" *ngFor="let order of orders">
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col size="10">
            <ion-label>#{{ order._id }}</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-button fill="clear" size="small" (click)="toggleDetails(order)">
              <ion-icon name="chevron-down-outline" *ngIf="!order.showDetails"></ion-icon>
              <ion-icon name="chevron-up-outline" *ngIf="order.showDetails"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="order.showDetails">
          <ion-col size="12">
            <ion-label>Total: ${{ order.total }}</ion-label>
            <ion-label>Products:</ion-label>
            <ion-list>
              <ion-item *ngFor="let product of order.productNames">
                <ion-label>{{ product }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-card>
  
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs >
      <ion-tab-bar >
        <ion-tab-button  (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button  (click)="goToHomePage()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button  (click)="goToAccountPage()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
