<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" class="custom-logout-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user">
  <div class="centered">
    <ion-img class="profileImage" [src]="getBase64Image(user.image)"></ion-img>
    <ion-label class="user-name">{{ user.name }}</ion-label>
    <ion-label class="user-email">{{ user.email }}</ion-label>
    <button class="custom-button" expand="full" (click)="GoEditProfilePage()">edit profile</button>
  </div>


  <p>My Orders</p>
  <ion-card class="purchase-card">
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="assets/images/beans.png"></ion-img>
      </ion-thumbnail>
      <ion-label>Red Beans</ion-label>
      <ion-label class="item-price">$45/1kg</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img src="assets/images/tomatoes.png"></ion-img>
      </ion-thumbnail>
      <ion-label>Fresh Tomatoes</ion-label>
      <ion-label class="item-price">$45/1kg</ion-label>
    </ion-item>
  </ion-card>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs >
      <ion-tab-bar >
        <ion-tab-button tab="tab-go-back" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="tab-home" (click)="goToHomePage()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="tab-account" (click)="goToAccountPage()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
