<ion-content class="ion-padding">
  <ion-card>
    <ion-img [src]="decodedImage"></ion-img>
    <ion-card-header>
      <ion-card-title>{{ product.Product_Name }}<ion-icon name="remove-circle" color="medium"></ion-icon> 4  <ion-icon name="add-circle" style="color:  #82C408;"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <h1 style="color: black;">Description</h1> 
     {{ product.description }}
    </ion-card-content>
  </ion-card>
  <button class="ion-button" expand="full" >Add to  cart</button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs >
      <ion-tab-bar >
        <ion-tab-button tab="tab-go-back" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="tab-home" (click)="goToHomePage()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="tab-account" (click)="goToAccountPage()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
