.centered{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    font-family: 'Poppins';
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
  }


ion-img {
    border-radius: 50%;
}
.user-name {
    font-weight: bold;
}
.user-email {
    color:#FF324B;
}

.custom-button {
    font-family: 'Poppins';
    height: 52px;
    width: 150px;
    background-color: #82C408; 
    color: #ffffff; 
    border-radius: 26px; 
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 10px;
    margin-right:10px;
}

.purchase-card {
    ion-thumbnail {
      width: 50px;
      height: 50px;
    }
    .item-price {
      font-weight: bold;
    }
}

p{
    font-family: 'DM Sans';
    margin-left: 17px;
    font-weight: bold;
    font-size: 18px;

}

.custom-toolbar {
    --border-width: 0; 
    --background:white; 
    --border-color:white;
}

.custom-logout-icon{
    color: black;
    width: 40px;
    height: 40px;
}
  
.card {
    width: 150px;
  }
  
.card ion-item ion-label {
    font-weight: bold;
}
  
.card ion-img {
    height: 97px;
    width: 111.25px;
}

.custom-icon {
    color: #82C408; 
    font-size: 30px; 
}

.custom-pencil-icon {
    color: #737473; 
    font-size: 20px; 
}

ion-buttons {
    display: flex;
    gap: 0; 
}
  
ion-button {
    margin: 0;
    padding: 0; 
}

ion-card-header ion-label {
    font-weight: bold;
}

.sellers-card {
    ion-thumbnail {
      width: 50px;
      height: 50px;
    }
    .email {
      font-weight: bold;
    }
}

.custom-icon {
    color: #82C408; 
}

.custom-pencil-icon {
    color: #737473; 
}