<ion-content class="ion-padding">
  <h1 class="cart-title">Cart</h1> 
  <ion-list class="cart-list">
    <ion-item *ngFor="let item of cartItems">
      <ion-thumbnail slot="start">
        <ion-img [src]="getBase64Image(item.details[0].image)"></ion-img>
      </ion-thumbnail>
      <p>{{ item.details[0].Product_Name}} <br><br><span class="item-price">{{ item.details[0].price }} $ / 1kg</span></p>
      <ion-buttons slot="end">
        <ion-icon name="remove-circle" color="medium" class="quantity-icon" (click)="decreaseQuantity(item)"></ion-icon>
        {{ item.quantity }}
        <ion-icon name="add-circle" class="quantity-icon" (click)="increaseQuantity(item)"></ion-icon>
      </ion-buttons>
    </ion-item> 
  </ion-list>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <div class="total2"  >subtotal :  <span style="margin-left: 71%;">${{this.calculateTotal()}}</span></div>
    <div class="total2"  >shipping charges :  <span style="margin-left: 54%; ">${{this.shipping_charges}}</span></div>
    <div class="total">TOTAL :  <span style="margin-left: 60%;">${{this.calculateTotal()+this.shipping_charges}}</span></div>
    <button class="ion-button checkout-button" expand="full" (click)="checkout()">Check out</button>
  </ion-toolbar>
  <ion-toolbar>
    <ion-tabs >
      <ion-tab-bar >
        <ion-tab-button (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button  (click)="goToHomePage()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button  (click)="goToAccountPage()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

