.ion-button {
    width: 80%;
    height: 40px;
    margin-left: 7%;
    font-size: 16px;
    border-radius: 26px;
    margin-top: 20%;
    padding: 14px, 18px, 14px, 18px;
    gap: 10px;
    color: white;
    background-color: #82C408; 
 
}
.cart-title {
    font-size: 24px;
    color: black;
    font-family: Poppins;
    margin-left: 20%;
    font-weight: bold;
  }
  
  .cart-list {
    margin-left: 5%;
    font-weight: bold;
  }
  
  .item-price {
    color: red;
  }
  
  .quantity-icon {
    font-size: 2em;
    color: #82C408;
  }
  
  .total {
    margin-left: 7%;
    font-weight: bold;
  }
  
  .checkout-button {
    margin-top: 20px; 
  }
  