<ion-content class="ion-padding">
  <div class="login-form">
    <h1>Edit Profile</h1>
    <form [formGroup]="updateForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">New Name</ion-label>
      <ion-input aria-label="Name" type="name" formControlName="newName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">New Password</ion-label>
      <ion-input aria-label="New Password" type="password" formControlName="newPassword"></ion-input>
    </ion-item>
    <ion-item style="margin-top: 25px;">
      <label  for="file-upload">Upload New Profile image</label>
      <input id="file-upload" name="image" type="file" class="ion-hide" (change)="onFileSelected($event)">
      <ion-icon name="camera" slot="end" ></ion-icon>
    </ion-item>
    
    <button class="ion-button" expand="full" >Edit</button>
    </form>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar>
        <ion-tab-button  (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button  (click)="goToHomePage()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button  (click)="goToAccountPage()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
