<ion-header>
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline" class="custom-logout-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="centered">
    <ion-img src="assets/images/seller-picture.png"></ion-img>
    <ion-label class="user-name">Seller</ion-label>
    <ion-label class="user-email">seller&#64;gmail.com</ion-label>
    <div class="button-container">
      <button class="custom-button" expand="full" (click)="GoProfilePage()">edit profile</button>
      <button class="custom-button" expand="full" (click)="GoAddArticlePage()">add article</button>
  </div>
  </div>

  <p>My articles</p>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card">
          <div style="display: flex; justify-content: center;">
            <ion-img src="assets/images/beans.png"></ion-img>
          </div>
          <ion-card-header>
            <ion-label >Red Beans</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-label style="display: flex; justify-content: space-between; align-items: center; color: #FF324B;">
              <span>$4/1kg</span>
              <ion-buttons slot="end">
                <ion-button >
                  <ion-icon  class="custom-pencil-icon" name="pencil"></ion-icon>
                </ion-button>
                <ion-button >
                  <ion-icon  class="custom-icon" name="close-circle"></ion-icon>
                </ion-button>
              </ion-buttons>

            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="card">
          <div style="display: flex; justify-content: center;">
            <ion-img src="assets/images/potatoes.png"></ion-img>
          </div>
          <ion-card-header>
            <ion-label >Potatoes</ion-label>
          </ion-card-header>
          <ion-card-content>
            <ion-label style="display: flex; justify-content: space-between; align-items: center; color: #FF324B;">
              <span>$10/1kg</span>
              <ion-buttons slot="end">
                <ion-button >
                  <ion-icon class="custom-pencil-icon" name="pencil"></ion-icon>
                </ion-button>
                <ion-button >
                  <ion-icon class="custom-icon" name="close-circle"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-tabs >
      <ion-tab-bar >
        <ion-tab-button tab="tab-go-back" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="tab-home" (click)="goToHomePage()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="tab-account" (click)="goToAccountPage()">
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

